<p>Perché non prende l'immagine?</p>
<div *ngIf="ricetta; else noData">
  <div class="detail-image" [ngStyle]="{'background-image':'url(' + ricetta.image + ')'}"></div>
   <div class="detail-body">
    <h5 class="detail-title">{{ricetta.title}}</h5>
      <p class="detail-font">{{ricetta.description}}</p>
  </div>
  <div class="detail-difficulty">
    <p class="detail-difficulty2">Difficoltà:</p>
    <p>
      <img [src]="percorsoStelline + ricetta.difficulty + '.png'" class="difficolta" alt="difficoltà ricetta{{ricetta.difficulty}}">
    </p>
   <!-- {{ricetta.difficulty}} -->
  </div>
  <div class="data-style">Ricetta pubblicata il {{ricetta.date}} </div>
</div>

<ng-template #noData>
  <div>
    Ricetta non trovata
  </div>
</ng-template>
