.container-mio {
  background-color: #ffffff;
  border-radius: 30px;
  margin: 30px;
  width: 60%;
  padding: 50px;
  border: solid 2px #8e210b;
  display: flex;
  margin-left: 20%;
}

.img-detail{
  margin-left: 100px;
  width: 80%;
}

.text-mio {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
}

