<div class="box-style">
  <h6 class="label-style">
    Aggiorna la ricetta
  </h6><br>
  <form [formGroup]="form"> <!-- (ngSubmit)="onSubmit()"  #f è il nome della reference. e gli posso anche dare un valore-->
    <label class="form-label" class="text-mio">Titolo</label>
     <input type="text" class="form-control" name="title" formControlName="title" /> <!--(ngModelChange)="scriviInNome($event)" -->
     <p class="is-danger" *ngIf="!form.get('title')?.valid && form.get('title').touched">
       <br> Inserisci un titolo.
     </p><br>

    <label class="form-label" class="text-mio">Descrizione</label>
    <p-editor formControlName="text" [style]="{ height: '320px' }" />
    <!--<input type="text" class="form-control" name="desscription" formControlName="description" />-->
    <p class="is-danger" *ngIf="!form.get('description')?.valid && form.get('description').touched">
      <br> Inserisci una descrizione.
    </p>

    <label class="form-label" class="text-mio">URL Immagine</label>
    <input type="text" class="form-control" name="img" formControlName="image" />

    <label for="title">Difficoltà</label>
      <select class="form-control select" formControlName="difficulty">
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>

    <br>
    <button class="btn btn-primary" (click)='this.onSubmit()'>Aggiorna</button>
    </form>
</div>
