/* You can add global styles to this file, and also import other style files */
h6{
  margin-left: 30%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

.box-style{
  align-self: center;
  border: 1px solid rgb(9, 68, 28);
  border-radius: 20px;
  width:500px;
  padding: 30px;
  margin-top: 5%;
  margin-left: 30%;
  align-content: center;
}

.label-style {
  margin-left: 30%;
}

.input-style{
  border-radius: 3px;
  margin-left: 30%;
}


button {
  height:fit-content;
  font-size: 10px;
  flex-wrap: wrap;
}


.div-button{
  display: flex;            /* Imposta il layout come flexbox */
  flex-wrap: wrap;        /* Impedisce che le card vadano su più righe */
  gap: 16px;                /* Spazio tra le card */
  justify-content: right;
  align-content: center;
}
