
.icona-cibando {
  width: 60px;
  margin-right: 5px;
 }

header{
  background-color: #8e210b;
  padding-left: 20px;
 }

 .ricerca{
  display: flex;
  align-self: self-start;
  border-radius: 0.6rem;
  border-style: hidden;
  margin-left: 200%;
  margin-top: 2%;
 }
