<div id="container-login">
  <form #form="ngForm"> <!--  (ngSubmit)="onSubmit(form.value)" -->
    <div class="container-row">
      <p-floatLabel>
        <input pInputText id="username" NgModel="email" />
        <br>
        <label for="username">Username/email</label>
      </p-floatLabel>
    </div> <br>

      <div class="container-row">
      <p-floatLabel>
<!--        <input NgModel [toggleMask]="true" /> -->
        <input type="password" />
        <p-password ngModel [toggleMask]="true" name="password" feedback="false"/>
        <label for="username">Password</label>
      </p-floatLabel>
      </div> <br>

      <div id="error-message" *ngIf="errorMessage.length">
        {{errorMessage}}
      </div>
      <div id="container-btn">
      <p-button label="Accedi" icon="pi pi-check" iconPos="right" />
      </div>
    </form>

    <div id="registrati">
      <a routerLink="/registrazione">Se ancora non sei registrato clicca qui per registrarti</a>
    </div>

</div>
