
//colori principali
$primary-color-1: #8e210b;
$primary-color-2: white;

//colori secondari
$secondary-color-1: #3e0b;
$secondary-color-2: rgb(18, 137, 187);

//testi

//scala di grigi
$grey-1: #565655;
$grey-2: #323232;
$grey-3: #1c1c1c;
$grey-4: #1a1a1a;
