/* You can add global styles to this file, and also import other style files */
/*devo reinserire bootstrap nel css. è come se avessi un archivio di libri; devo chiamare un libro*/
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.css";
@import "../node_modules/primeicons/primeicons.css";
@import "./app/style/colori.scss";
body{
  margin:0;
  padding:0;
  font-family: 'Montserrat', serif;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.btn-primary {
  background-color: $primary-color-1;
  border-bottom: $primary-color-2;
}

.btn-primarry:hover {
  background-color: $primary-color-1;
  border-color: $secondary-color-2;
}
